/vendor
/node_modules
/bower_components
/public/css
/public/js
/public/images/products/lg/*
/public/images/products/sm/*
/public/fonts/FontAwesome.otf
/public/fonts/fontawesome-webfont.eot
/public/fonts/fontawesome-webfont.svg
/public/fonts/fontawesome-webfont.ttf
/public/fonts/fontawesome-webfont.woff
/public/fonts/glyphicons-halflings-regular.eot
/public/fonts/glyphicons-halflings-regular.svg
/public/fonts/glyphicons-halflings-regular.ttf
/public/fonts/glyphicons-halflings-regular.woff
/public/fonts/glyphicons-halflings-regular.woff2
.env
